html {
  height: 200vh;
}

section {
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-size: cover;
  background-position: 50% 0;
  height: 90vh;
  background: rgb(22,38,42);
  background: linear-gradient(90deg, rgba(22,38,42,1) 0%, rgba(33,49,54,1) 25%, rgba(50,67,73,1) 47%, rgb(33,49,54,1) 75%, rgba(22,38,42,1) 100%);
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 450px) {
  section {
    height: 60vh;
  }
}

section:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.banner{
  display: inline-block;
  vertical-align: middle;
  padding:  100px;
  max-width: 500px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: relative;
}

/* @media only screen and (max-width: 787px) {
  .banner {
    padding: 20px;
    width: 257px;
  }
} */

.banner::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100%;
  width: 100%;
  background: url(Rev_banner1.png) center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.large-bubble-1 {
  position: absolute;
  top: 250px;
  left: 100px;
  height: 100px;
  width: 100px;
  background-size: 15%;
}

.large-bubble-2 {
  position: absolute;
  top: 80%;
  right: 10%;
  height: 100px;
  width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.large-bubble-3 {
  position: absolute;
  top: 10%;
  right: 80%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}


.medium-bubble-1 {
  position: absolute;
  top: 25%;
  right: 80%;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

.medium-bubble-2 {
  position: absolute;
  top: 25%;
  right: 10%;
  height: 50px;
  width: 50px;
}

.medium-bubble-3 {
  position: absolute;
  top: 65%;
  right: 80%;
  height: 50px;
  width: 50px;
}

.small-bubble-1 {
  position: absolute;
  top: 14%;
  right: 23%;
  height: 20px;
  width: 20px;
}

.small-bubble-2 {
  position: absolute;
  top: 43%;
  right: 80%;
  height: 20px;
  width: 20px;
}

.small-bubble-3 {
  position: absolute;
  top: 89%;
  right: 95%;
  height: 20px;
  width: 20px;
}

.small-bubble-4 {
  position: absolute;
  top: 73%;
  right: 31%;
  height: 20px;
  width: 20px;
}

.small-bubble-5 {
  position: absolute;
  top: 96%;
  right: 64%;
  height: 20px;
  width: 20px;
}

.small-bubble-6 {
  position: absolute;
  top: 7%;
  right: 62%;
  height: 20px;
  width: 20px;
}

.medium-bubble-7 {
  position: absolute;
  top: 106%;
  right: 72%;
  height: 50px;
  width: 50px;
}

.small-bubble-8 {
  position: absolute;
  top: 111%;
  left: 64%;
  height: 20px;
  width: 20px;
}


h1 {
  font-size: 100px;
  text-transform: uppercase;
}

/* @media only screen and (max-width: 760px) {
  h1 {
    font-size: 60px;
  }
} */

.white-bar-top {
  position: absolute;
  top: 10%;
  left: 70%;
}

.animate-text-top,
.animate-text-bottom {
  position: absolute;
  z-index: 2;
  top: 99px;
  left: 70.8%;
  color: rgba(22,38,42,1);
  font-size: 8px;
  text-transform: uppercase;
}

.animate-text-bottom {
  top: 77.5%;
  left: 15.8%;
}

.animate-text-rectangle,
.animate-coursor-rectangle {
  position: absolute;
    z-index: 2;
    bottom: 81px;
    left: 58.4%;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    width: 30px;
    text-align: left;
    opacity: .5;
}

.animate-coursor-rectangle {
  opacity: 0;
  transition: .2;
  left: 61.2%;
}

.animate-coursor-rectangle.active {
  opacity: .5;
}

.white-bar-bottom {
  position: absolute;
  bottom: 20.5%;
  left: 13%;
}

.white-line-top {
  position: absolute;
  top: 20%;
  right: 30%;
  opacity: .3;
}

.white-line-bottom {
  position: absolute;
  bottom: 0%;
  right: 50%;
  opacity: .3;
}

/* .white-line-bottom::after {
content: "- Remember this";
position: absolute;
bottom: 0%;
right: 50%;
height: 25px;
width: 25px;
background-color: #fff;
border-radius: 50%;
} */

.white-rectangle-bottom {
  position: absolute;
  top: 29%;
  right: 35%;
  opacity: .7;
}

.paper {
  position: absolute;
}
